.navbar-brand:hover {
  /* text-decoration: underline; */
  color: #bbb!important;
  cursor: pointer;
}

table.lines {
  max-width: 100vw;
}

table.lines td {
  padding-top: 0;
  padding-bottom: 0;
}

table.lines td pre {
  margin-bottom: 0;
  /* opacity: .7; */
  font-size: .7em;
}

table.lines td:last-child {
  max-width: calc(100vw - 3em);
}
table.lines td:first-child,
table.lines th:first-child {
  width: 3em;
  text-align: right;
  max-width: 10em;
  padding-right: 1em;
  border-right-width: 1px;
  border-right-style: solid;
}

table.lines td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.25rem!important;
  font-family: "monaco";
  font-size: .7em;
}

table.lines th {
  font-weight: bold;
  font-size: .7em;
}

table.lines tbody {
  border-top: 0;
}

.table.lines > :not(:first-child) {
  border-top: 0;
}

/* table.lines tbody:hover {
  background: aliceblue !important;
} */

.breadcrumb-item:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline!important;
  cursor: pointer;
}

.selectColumn {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.selectColumn > div {
  margin: 5px;
  padding: 10px;
  margin-left: 10px;
}
